.container{
   height:500px;
    width:1000px;
    background-color: bisque;
    border: solid black;
    border-color: black;
    display: grid;
   /*grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    /*grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";*/
    gap:10px;
    /*justify-items: end;*/
    /*justify-items: start;*/
    /*justify-items: stretch;*/
    /*align-items: start;*/
    justify-items: center;
    align-items: center;
    /*justify-content: start;*/
    /*justify-content: end;*/
    /*justify-content: stretch;*/
    justify-content: center;
    align-content: center;
    /*justify-content: space-evenly;*/
}

.item{
    /*height: 100px;
    width: 100px;*/
    background-color: brown;
    border: 1px solid black;
    border-color: black;
    text-align: center;
    align-content: center;
    color: azure;
}
/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
} */
