.container{
     display: flex;
     height: 400px;
     width: 800px;
     border: 1px solid black;
     background-color: bisque;
    /*flexdirection: row;*/
     flex-wrap: wrap;
    /*flex-flow: row ;*/
     /*justify-content: center;*/
     /*justify-content:  space-between;*/
     /*justify-content: flex-end;*/
     /*justify-content: flex-start;*/
     /*justify-content: space-evenly;*/
     /*justify-content: space-around;*/
     /*align-items: baseline;*/
      /*align-items-start;*/
      /*align-content: flex-start;*/
      /*align-content: flex-end;*/
     /*align-content:center;*/
   gap:30px;


}

.item{
    height: 150px;
    width: 150px;
    border: 1px solid red;
    background-color: beige;
    text-align: center;
} 

.item-2{
    order:2;
    flex-grow: 1;
    /*flex-shrink: 2;*/
}

/*

justify content: 
flex-start
flex-end
center
space-between
spcae-around
space evenly 

align items:
flex start
flex end
center
strech
baseline  

align-content:
flex-start
flex-end
center
space-between
spcae-around
space evenly 

gap:10px
gap:30px
gap: 10px 30px

Child properties:
*/

